*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    padding: 20px; 
}


a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 40px;
    background-color: #d0f0c0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 40px;
}

.logo_LocaStudy {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.barre_nav {
    display: flex;
    align-items: center;
    gap: 40px;
}


.forme_Barre_Recherche input[type="search"] {
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    font-size: 16px;
    outline: none;
}

.boutton_Logements {
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
}

.Boutons_Favoris_Profil {
    display: flex;
    gap: 15px; 
}
.Bouton_MesFavoris {
    background-color: #d00000;
    border-color: black;
}

.Bouton_MonProfil {
    background-color: #1a75ff;
    border-color: black;
}

.Bouton_MesFavoris, .Bouton_MonProfil {
    padding: 10px 20px;
    border: none; 
    border-radius: 20px;

    color: white; 
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.Bouton_MesFavoris:hover, .Bouton_MonProfil:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.Bouton_MesFavoris:hover {
    background-color: #9a0000;
}

.Bouton_MonProfil:hover {
    background-color: #0056b3;
}

.Sous_titre_Annonces{
    background-color: #ffff00; 
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

.Disposition_Images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px 20px;
    justify-items: center;
}

.Logements_1à9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
}

.image_logement {
    width: 100%;
    height: 150px; 
    border: 1px solid black;
    margin-bottom: 10px;
    overflow: hidden;
}

.image_logement img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.Titre_Logement {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}