
body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; 
    color: #333; 
}


header {
    background-color: #007bff; 
    color: white;
    padding: 20px 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}


.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}


header img {
    width: 40px;
    height: 40px;
}


.button-primary, .button-secondary {
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    color :#f4f4f9
    transition: background-color 0.3s; 
}


main {
    padding: 20px 50px;
    max-width: 1200px; 
    margin: 20px auto; 
}

section {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

section h2 {
    color: #007bff;
    padding-bottom: 10px;
    margin-top: 0;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    margin-top: 30px;
}